.cart-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 16px;
  gap: 32px;
  z-index: 200;
  position: absolute;
  width: 325px;
  /* left: 1060px; */
  top: 0px;
  background-color: #fff;
  overflow-x: hidden;
  overflow-y: scroll;
}

.cart-container {
  position: absolute;
  background-color: rgba(57, 55, 72, 0.22);
  top: 80px;
  bottom: 0;
  left: 0;
  z-index: 200;
  width: 100%;
}

.cart-detail {
  display: flex;
  margin-bottom: 40px;
}

.cart-prod-s {
  display: flex;
  gap: 8px;
  margin: 8px 0;
  flex-wrap: wrap;
}

.cart-prod-s-box {
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  width: 16px !important;
  height: 16px !important;
}

.cart-prod-s-box button {
  width: 16px !important;
  height: 16px !important;
  border: none;
  font-size: 14px;
  cursor: pointer;
}

.cart-prod-s-box:last-child button {
  border: 1px solid rgba(29, 31, 34, 1);
}

.cart-prod-s-box-btn button {
  padding: 2px 4px;
  border: 1px solid rgba(29, 31, 34, 1);
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
}

.cart-prod-title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 160%;

  color: #1d1f22;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 4px;
}

.cart-prod-curr {
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: #1d1f22;
  margin-bottom: 8px;
}

.cart-prod-name {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 8px;

  color: #1d1f22;
}

.cart-prod-bag {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;

  text-align: right;

  color: #1d1f22;
}

.cart-prod-bag span {
  font-weight: 300;
  margin-left: 2px;
}

.card-prod-image {
  position: relative;
  width: 121px;
  height: 190px;
}

.card-prod-image img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.counter-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin-right: 8px;
  margin-left: 4px;
}

.counter-container button {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #1d1f22;
  border: 1px solid #1d1f22;
  cursor: pointer;
}

.counter-container span {
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;

  color: #1d1f22;
}

.cart-detail-cont {
  width: 136px;
}

.cart-prod-total {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.cart-prod-total span {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.btn-container button {
  width: 140px;
  height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  cursor: pointer;
}

.black-btn {
  color: #1d1f22;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  border: 1px solid #1d1f22;
  background: #ffffff;
}

.green-btn {
  background: #5ece7b;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  color: #FFFFFF;
  border: none;
}
